appdirs==1.4.0
backports-abc==0.5
certifi==2017.1.23
futures==3.0.5
motor==1.1
packaging==16.8
PyJWT==1.4.2
pymongo==3.4.0
pyparsing==2.1.10
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
-e git+https://github.com/sugarush/tornado-json.git@963b3b3f47c395042c8a59af5956b02321a1374f#egg=tornado_json
-e git+https://github.com/sugarush/tornado-jwt.git@878a1a79527b0b03468ab0be1e1eda332b6e6214#egg=tornado_jwt
